{% extends 'rr_app/base.html' %}
{% load static %}

{% block body %}
<div class="logo">
    <img src="{% static 'rr_app/images/cloche.png' %}">
    <p class="title">RESTAURANT</p>
    <p class="subtitle">RESERVATION</p>
</div>

<div class="container">
    {% block page_title %}{% endblock %}
    
    <form>
        {% block form_fields %}{% endblock %}
        
        <input type="button" value="Submit" id="btnSubmit">
        
        {% block form_footer %}{% endblock %}
        
        <p class="error-msg" id="errorMsg"></p>
    </form>
</div>
{% endblock %}