{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta author="Mga Bulakbol">
  <title>{% block title %}Restaurant Reservation{% endblock %}</title>
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'rr_app/css/auth.css' %}">
  <link rel="stylesheet" href="{% static 'rr_app/css/messagebox.css' %}">
</head>
<body>
    {% block body %}{% endblock %}
    <div class="messagebox-overlay">
        <div class="messagebox">
            <div class="messagebox-title" id="msgbx_title">Title Here</div>
            <div class="messagebox-message" id="msgbx_body">Your message goes here.</div>
            <div class="messagebox-buttons">
                <button class="messagebox-btn" id="msgbx_btn">Cancel</button>
                <button class="messagebox-btn messagebox-btn-primary" id="msgbx_btn_primary">Confirm</button>
            </div>
        </div>
    </div>
    <script src="{% static 'rr_app/js/auth/SupabaseAuth.js' %}"></script>
    <script src="{% static 'rr_app/js/DataManager.js' %}"></script>
    <script src="{% static 'rr_app/js/init.js' %}"></script>
    {% block js %}{% endblock %}
</body>
</html>