{% extends 'rr_app/auth_base.html' %}
{% load static %}

{% block title %}Sign Up - Restaurant Reservation{% endblock %}

{% block page_title %}
<p class="content_title">Sign Up</p>
{% endblock %}

{% block form_fields %}
<input type="text" id="firstName" placeholder="First name" required>
<input type="text" id="lastName" placeholder="Last name" required>
<input type="email" id="email" placeholder="Email address" required>
<input type="password" id="password" placeholder="Password" required>
<input type="password" id="cPassword" placeholder="Confirm password" required>
{% endblock %}

{% block form_footer %}
<p class="signin">Already have an account? <a href="{% url 'login' %}">Sign in</a></p>
{% endblock %}

{% block js %}
<script src="{% static 'rr_app/js/register.js' %}"></script>
{% endblock %}