{% extends 'rr_app/auth/auth_base.html' %}
{% load static %}

{% block title %}Forgot Password - RR{% endblock %}

{% block page_title %}
  <p class="content_title">Forgot Password</p>
{% endblock %}

{% block form_fields %}
  <input type="email" id="email" placeholder="Email address" required>
  
  <div id="verification" class="verification-container" style="display: none;">
    <div class="code-inputs">
      <input type="text" maxlength="1" class="code-box" inputmode="numeric">
      <input type="text" maxlength="1" class="code-box" inputmode="numeric">
      <input type="text" maxlength="1" class="code-box" inputmode="numeric">
      <input type="text" maxlength="1" class="code-box" inputmode="numeric">
      <input type="text" maxlength="1" class="code-box" inputmode="numeric">
      <input type="text" maxlength="1" class="code-box" inputmode="numeric">
    </div>
  </div>
{% endblock %}

{% block form_footer %}
  <p id="resend_code" class="auth_link" style="display: none;">
    Didn't get the code? <a id="resend_link">Resend</a>
  </p>
{% endblock %}

{% block auth_js %}
  <script src="{% static 'rr_app/js/auth/forgot_pass.js' %}"></script>
{% endblock %}
