{% extends 'rr_app/auth/auth_base.html' %}
{% load static %}

{% block title %}Reset Password - RR{% endblock %}

{% block page_title %}
  <p class="content_title">Reset Password</p>
{% endblock %}

{% block form_fields %}
  <div class="password-wrapper">
    <input type="password" id="password" placeholder="Password" required>
    <i class="fa-regular fa-eye toggle-password" id="togglePassword"></i>
  </div>
  <div class="password-wrapper">
    <input type="password" id="c_password" placeholder="Confirm password" required>
    <i class="fa-regular fa-eye toggle-password" id="togglePassword"></i>
  </div>
{% endblock %}

{% block auth_js %}
  <script src="{% static 'rr_app/js/auth/reset_pass.js' %}"></script>
{% endblock %}
