{% extends 'rr_app/auth/auth_base.html' %}
{% load static %}

{% block title %}Reset Password - Restaurant Reservation{% endblock %}

{% block page_title %}
<p class="content_title">Reset Password</p>
{% endblock %}

{% block form_fields %}
<input type="password" id="password" placeholder="Password" required>
<input type="password" id="cPassword" placeholder="Confirm password" required>
{% endblock %}

{% block js %}
<script src="{% static 'rr_app/js/auth/resetPassword.js' %}"></script>
{% endblock %}