{% extends 'rr_app/auth/auth_base.html' %}
{% load static %}

{% block title %}Sign Up - RR{% endblock %}

{% block page_title %}
  <p class="content_title">Sign Up</p>
{% endblock %}

{% block form_fields %}
  <input type="text" id="first_name" placeholder="First Name" required>
  <input type="text" id="last_name" placeholder="Last Name" required>
  <input type="email" id="email" placeholder="Email address" required>

  <div class="password-wrapper">
    <input type="password" id="password" placeholder="Password" required>
    <i class="fa-regular fa-eye toggle-password" data-target="password"></i>
  </div>

  <div class="password-wrapper">
    <input type="password" id="c_password" placeholder="Confirm password" required>
    <i class="fa-regular fa-eye toggle-password" data-target="c_password"></i>
  </div>
{% endblock %}

{% block form_footer %}
  <p class="auth_link">
    Already have an account? <a href="{% url 'auth:signin_page' %}">Sign in</a>
  </p>
{% endblock %}

{% block auth_js %}
  <script src="{% static 'rr_app/js/auth/sign-up.js' %}"></script>
{% endblock %}
