{% extends 'rr_app/auth/auth_base.html' %}
{% load static %}

{% block title %}Sign In - RR{% endblock %}

{% block page_title %}
  <p class="content_title">Sign In</p>
{% endblock %}

{% block form_fields %}
  <input type="email" id="email" placeholder="Email address" required>

  <div class="password-wrapper">
    <input type="password" id="password" placeholder="Password" required>
    <i class="fa-regular fa-eye toggle-password" id="togglePassword"></i>
  </div>

  <a class="fpass" id="forgotPassword" href="{% url 'auth:forgot_password_page' %}">Forgot Password?</a>
{% endblock %}

{% block form_footer %}
  <p class="auth_link">
    Don't have an account? <a href="{% url 'auth:signup_page' %}">Sign up</a>
  </p>
{% endblock %}

{% block auth_js %}
  <script src="{% static 'rr_app/js/auth/sign-in.js' %}"></script>
{% endblock %}
