{% extends 'rr_app/auth/auth_base.html' %}
{% load static %}

{% block title %}Sign Up - RR{% endblock %}

{% block page_title %}
  <p class="content_title">Sign Up</p>
{% endblock %}

{% block form_fields %}
    {{ form.first_name }}

    {{ form.last_name }}

    {{ form.username }}

    {{ form.role }}

  <div class="form-group password-wrapper">
    {{ form.password1 }}
    <i class="fa-regular fa-eye toggle-password" data-target="id_password1"></i>
  </div>

  <div class="form-group password-wrapper">
    {{ form.password2 }}
    <i class="fa-regular fa-eye toggle-password" data-target="id_password2"></i>
  </div>
{% endblock %}

{% block form_footer %}
  <p class="auth_link">
    Already have an account? <a href="{% url 'rr_app:login' %}">Sign in</a>
  </p>
{% endblock %}

{% block auth_js %}
{% endblock %}